.module-cards {
  display: grid;
  justify-content: center; 
  grid-gap: 1.5em;
  
  /* DEFAULT (Mobile): 1 column (1x4) */
  grid-template-columns: 1fr; 
}

/* TABLET: 2 columns (2x2) */
@media (min-width: 600px) {
  .module-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP: 4 columns (4x1) */
@media (min-width: 1000px) {
  .module-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}